html {
  background: #f6faff;
  margin: 0 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  } 

.item {
  display: flex;
  justify-content: space-around; 
  }
 
.header {
 display: flex;
 justify-content: space-around;
 align-items: center;
 font-weight: 600;
 }

 .sidebar-left { 
  display: flex;
  order: 1;
  flex: 1;
  margin: 0 30px 0 0;
   }

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  order: 2;
  flex: 2;
  }
.sidebar-right {
  display: flex;
  flex-direction: bottom;
  order: 3;
  flex: 1;
  border: 2px solid rgba(121, 122, 122, 0.1);
  margin: 5px 0;
  padding: 30px 10px;
  }

  .button{
    height: 2.25vw;
    width: 8vw;
    background-color: rgb(72, 168, 219);
    color: white;
    border: none;
    border-radius: 10px;
    }

  .item:nth-of-type(2) {
    color:  rgba(63, 63, 63, 0.75)
    }

  .time{
    color: rgb(63, 158, 236);
  }  

  .list-item{
    color:  rgba(63, 63, 63, 0.75)
  }



